    <!-- -------------------------------------------- flights schedule table ---------------------------------------- -->

    <!-- <div class="container mt-5" *ngIf="!isLoading"> -->
        <div class="container mt-5 desktop-view">
        <!-- <div class="row">
    
          <form class="d-flex">
            <div class="input-group mb-3">
              <button type="button" class="search-btn"  id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i></button>
              <input type="text" (input)="filterFlights(flightKeywordInput)" #flightKeywordInput maxlength="30"  class="form-control movie-search" placeholder="Search for a flight" aria-label="Recipient's username" aria-describedby="button-addon2">
            </div>            
          </form>
    
        </div> -->
        <div class="row header-row">
          <div class="col-2">
            FLIGHT NO.
          </div>
          <div class="col-4">
            <!-- {{showingArrivals ? "FROM" : "DESTINATION"}} -->
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <span>FROM</span>
                </div>
                <div class="col-6">
                  <span>TO</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            SCH. TIME
          </div>
          <div class="col-4 d-flex justify-content-between">
            <span>FLIGHT STATUS</span>
    
            <span class="airline-header">AIRLINE</span>
          </div>
        </div>


        <!-- centerMapAroundAircraft($event,unit.coords.geography.aircraftCoords) -->
        <div class="row table-row d-flex" *ngFor="let unit of trackedFlights" (click)="onFlightClicked($event,unit)">

          
      
            <div class="col-2 flight-nr d-flex">
              <span><span class="me-2 trash-icon"><i class="fa-solid fa-trash" (click)="deleteFlight(unit)"></i></span><span class="flight-num" [ngStyle]="{'border-bottom':getBorderColorByName(unit.markerColor)}">{{unit.completeFlightData.flight.number}}</span></span>
              <input type="checkbox" id="track" name="track" class="track" [checked]="isSelected(unit)" (click)="onCheckboxToggled($event,unit)" />
              <!-- <button (click)="goToTrackingPage(unit.completeFlightData)" class="me-3 track-btn">Track</button> -->
            </div>
            <div class="col-4 departure-airport">
              <div class="container">
                <div class="row">
                  <div class="col-6 overflow-hidden">
                    <span class="airport-name" (click)="onAirportClicked(unit.coords.srcAirport.coords,unit)">{{unit.coords.srcAirport.fullName}}</span>
                  </div>
                  <div class="col-6" >
                    <span class="airport-name" (click)="onAirportClicked(unit.coords.destAirport.coords,unit)">{{unit.coords.destAirport.fullName}}</span>
                  </div>
                </div>
              </div>
              <!-- <span>{{tableUtility.getAirport(unit.completeFlightData)}}</span> -->
              <!-- <span>{{tableUtility.getAirport(unit.completeFlightData)}}</span> -->
            </div>
            <div class="col-2 sch-time">
              <div>
              <span [ngStyle]="tableUtility.getSchTimeStyles(unit.completeFlightData)">{{utility.getFormattedDate(tableUtility.getSchTime(unit.completeFlightData))}}</span>
              <!-- <br> -->
              <div *ngIf="unit.completeFlightData.flight.status === 'Delayed'">
              <span class="delayed-time" >{{utility.getFormattedDate(tableUtility.getDelayTime(unit.completeFlightData))}}</span>
              <br>
                <span class="delayed-time">Delayed</span>
              </div>
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex justify-content-between" [ngStyle]="tableUtility.getStylesByStatus(unit.completeFlightData)">
                <span class="flight-status me-5">{{tableUtility.getStatusMessage(unit.completeFlightData)}}</span>

                <!-- <span class="flight-status me-5">{{tableUtility.getStatusMessage(unit.completeFlightData)}}</span> -->
                <!-- <span class="flight-status me-5">{{unit.coords.status}}</span> -->
        
        
                <div class="logo-container">
                    <img *ngIf="unit.completeFlightData?.logo" [src]="unit.completeFlightData?.logo" alt="Airline logo" class="airline-logo">
                    <span *ngIf="!unit.completeFlightData?.logo" class="airline-name">{{unit.completeFlightData?.flight?.airline?.name}}</span>
                </div>
                
              </div>
            </div>
          </div>
        </div>


          <!-- ----------------------------- mobile view ---------------------------- -->


          <div class="mt-5 mobile-view ps-3 pe-3">
            <div class="flight-card" *ngFor="let flightData of trackedFlights" (click)="onFlightClicked($event,flightData)" >
              <div class="card-content">
                <div class="card-header d-flex justify-content-between">
                  <div class="left-side d-flex">
    
                    <div class="card-time me-4">
                    <span class="fw-bold" [ngStyle]="tableUtility.getSchTimeStyles(flightData.completeFlightData)">{{utility.getFormattedTime(tableUtility.getSchTime(flightData.completeFlightData))}}</span>
                    <div *ngIf="flightData.completeFlightData.flight.status === 'Delayed'">
                      <span class="delayed-time" >{{utility.getFormattedTime(tableUtility.getDelayTime(flightData.completeFlightData))}}</span>
                      <!-- <br>
                        <span class="delayed-time">Delayed</span> -->
                    </div>
                  </div>
    
                  <div class="card-flight-data">
                    <span class="card-departure-airport-name fw-bold airport-name"  (click)="onAirportClicked(flightData.coords.srcAirport.coords,flightData)">{{flightData.coords.srcAirport.fullName}}</span> - <span class="card-arrival-airport-name fw-bold airport-name" (click)="onAirportClicked(flightData.coords.destAirport.coords,flightData)">{{flightData.coords.destAirport.fullName}}</span>
                    <br>
                    <span class="me-2 trash-icon"><i class="fa-solid fa-trash" (click)="deleteFlight(flightData)"></i></span>
                    <span class="card-flight-nr me-2">{{flightData.completeFlightData.flight.number}}</span> <span class="card-airline-name">{{flightData.completeFlightData?.flight?.airline?.name}}</span>
                    <br>
                    <span class="card-flight-status me-3 fw-bold" [ngStyle]="tableUtility.getStylesByStatus(flightData.completeFlightData)">{{tableUtility.getStatusMessage(flightData.completeFlightData)}}</span>
    
    
                  </div>
                  </div>
                  <div class="right-side d-flex flex-column justify-content-between align-items-end">
                    <i class="fa-solid fa-arrow-right"></i>
                    <input type="checkbox" id="track" name="track" class="track" [checked]="isSelected(flightData)" (click)="onCheckboxToggled($event,flightData)" />
                    <!-- <button (click)="goToTrackingPage(flightData)" class="track-btn">Track</button> -->
                  </div>
                </div>
              </div>
              
    
              <!-- <span *ngIf="flightData.type==='Departure'">{{flightData.flight.departure.gate}}</span> -->
            </div>
          </div>
    
    








